{% extends "MMPlatformBundle::layout.html.twig" %}

{% block title %}
  A propos
{% endblock %}

{% block ocplatform_body %}
    <div class="text-center">
    <img src="{{ app.request.basepath }}/images/4.png" alt="Nicolas" class="img-circle img-thumbnail" style="width:30%;">
    <address>
      <strong>Nicolas Minot</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </address>
    <address>
      <a href="mailto:#">nico72700@gmail.com</a>
    </address>
    </div>
{% endblock %}