{% extends "MMPlatformBundle::layout.html.twig" %}

{% block title %}
  A propos
{% endblock %}

{% block ocplatform_body %}
    <div class="text-center">
    <img src="/Symfony/web/images/4.jpeg" alt="Nicolas" class="img-circle img-thumbnail" style="width:30%;">
    <address>
      <strong>Nicolas Minot</strong><br>
      Petite présentation de Nicolas.
    </address>
    <address>
      <a href="mailto:#">nico72700@gmail.com</a>
    </address>
    </div>
{% endblock %}