{# src/MM/PlatformBundle/Resources/views/Image/edit.html.twig #}

{% extends "MMPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une video
{% endblock %}

{% block ocplatform_body %}

  <h2>Ajouter une video</h2>

  {{ include("MMPlatformBundle:Video:form.html.twig") }}

{% endblock %}